@if (typeof event() !== 'undefined') {
    <div class="group relative border-slate-200 rounded-lg p-2 shadow-lg h-full flex flex-col gap-3 transition-shadow duration-300 hover:cursor-pointer selection:select-none border overflow-visible" tabindex="0" [ngClass]="isFuterEvent(event()!.date) ? '' : 'bg-red-100 !border-red-200 hover:!shadow-rose-200'" (click)="$event.target === $event.currentTarget && divRef.focus()" #divRef>
        <div class="absolute flex items-center gap-3 -top-6 opacity-0 group-hover:opacity-100 group-hover:top-2 transition-all duration-300 right-2 group-focus:opacity-100 group-focus:top-2">
            @if (isFuterEvent(event()!.date)) {
                <button class="rounded-xl border flex justify-center items-center leading-none bg-blue-50 hover:bg-blue-100 border-blue-400 sm:p-2 p-1 transition-colors duration-300" [disabled]="targetId == eventId" (click)="editEvent.emit(eventId()!)"><mat-icon class="text-blue-400" >edit</mat-icon></button>
            }
            <button class="rounded-xl border flex justify-center items-center leading-none bg-rose-50 hover:bg-rose-100 border-rose-400 sm:p-2 p-1 transition-colors duration-300" [disabled]="targetId == eventId" (click)="deleteEvent.emit(eventId()!)"><mat-icon class="text-rose-400" >delete</mat-icon></button>
        </div>
        <h3 class="text-2xl">{{ event()!.title }}</h3>
        <div class="relative w-full overflow-hidden pb-72">
            <img class="absolute top-0 left-0 w-full h-full object-cover rounded-md" [src]="event()!.image" />
        </div>
        <div class="flex justify-between items-center">
            <div class="bg-slate-100 rounded-2xl py-1 px-2 sm:py-1 sm:px-3 text-sm sm:text-md flex items-baseline gap-1 justify-start w-max">
                <mat-icon class="text-xs sm:text-md !flex !items-center !justify-center" >date_range</mat-icon><span>{{ event()!.date | date:'fullDate' }}</span>
            </div>
            <span class="bg-rose-100 rounded-2xl py-1 px-2 sm:py-1 sm:px-3 text-sm sm:text-md w-max"><b class="font-medium">Place:</b> {{ event()!.place }}</span>
        </div>
        <p class="h-full">
            {{ event()!.description }}
        </p>
        <div class="flex justify-between items-center">
            <p>
                <span class="font-semibold">Participants: </span>{{ event()!.participants ? event()!.participants.length : 0 }}
            </p>
            <button class="rounded-md border border-purple-300 bg-purple-50 hover:bg-purple-100 text-purple-500 transition-colors duration-300 px-4 py-2" (click)=" inspect() ? toggleInInspect() : toggleInspect()" #inspectBtn >
                See participants
            </button>
        </div>
    </div>
    @if (inspect()) {
        <div class="fixed top-0 left-0 w-full h-full bg-transparent z-30 pointer-events-none">
            <div class="fixed pointer-events-auto border border-purple-400 bg-white rounded-xl shadow-lg w-[350px] h-[350px] md:w-[500px] md:h-[500px] z-40 scale-0 opacity-0 transition-all duration-300"
            [ngStyle]="{ top : popupPosition().top, left: popupPosition().left, right: popupPosition().right, bottom: popupPosition().bottom }"
            [ngClass]="inspectIn() ? 'scale-100 opacity-100 shadow-lg' : ''"
            >
            <div class="fixed text-purple-400" [ngStyle]="{ 
                rotate: popupPosition().rotate,
                left: popupPosition().rotate == '180deg' ? '-16px' : '',
                right: popupPosition().rotate == '0deg' ? '-16px' : '',
                top: popupPosition().rotate == '270deg' ? '-19px' : '',
                bottom : popupPosition().rotate == '90deg' ? '-19px' : '',
             }">
                <mat-icon>
                    play_arrow
                </mat-icon>
            </div>
                <div class="absolute text-slate-500 hover:text-black right-3 top-3 transition-colors duration-300">
                    <button class="" (click)="toggleInInspect()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="p-6 max-h-full overflow-auto">
                    <h3 class="text-xl font-semibold mb-4">Participants for {{ event()!.title }}</h3>
                    <ul class="divide-y">
                        @for (participant of event()!.participants; track $index) {
                            <li class="py-2">{{ participant }}</li>
                        } @empty {
                            <li class="py-2 text-gray-500">No participants yet</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}