@if (typeof event() !== 'undefined') {
    <div class="group relative border-slate-200 rounded-lg p-2 shadow-lg h-full hover:shadow-xl flex flex-col gap-3 transition-shadow duration-300 hover:cursor-pointer selection:select-none border overflow-hidden focus:shadow-xl" tabindex="0" (click)="$event.target === $event.currentTarget && divRef.focus()" #divRef>
        <div class="absolute flex items-center gap-3 -top-6 opacity-0 group-hover:opacity-100 group-hover:top-2 transition-all duration-300 right-2 group-focus:opacity-100 group-focus:top-2">
            <button class="rounded-xl border flex justify-center items-center leading-none bg-blue-50 hover:bg-blue-100 border-blue-400 sm:p-2 p-1 transition-colors duration-300" (click)="editEvent.emit(eventId()!)"><mat-icon class="text-blue-400" >edit</mat-icon></button>
            <button class="rounded-xl border flex justify-center items-center leading-none bg-rose-50 hover:bg-rose-100 border-rose-400 sm:p-2 p-1 transition-colors duration-300" (click)="deleteEvent.emit(eventId()!)"><mat-icon class="text-rose-400" >delete</mat-icon></button>
        </div>
        <h3 class="text-2xl">{{ event()!.title }}</h3>
        <div class="relative w-full overflow-hidden pb-72">
            <img class="absolute top-0 left-0 w-full h-full object-cover rounded-md" [src]="event()!.image" />
        </div>
        <div class="flex justify-between items-center">
            <div class="bg-slate-100 rounded-2xl py-1 px-2 sm:py-1 sm:px-3 text-xs sm:text-md flex items-center gap-1 justify-start w-max">
                <mat-icon class="text-xs sm:text-md !flex !items-center !justify-center" >date_range</mat-icon>{{ event()!.date | date:'fullDate' }}
            </div>
            <span class="bg-rose-100 rounded-2xl py-1 px-2 sm:py-1 sm:px-3 text-xs sm:text-md w-max"><b class="font-medium">Place:</b> {{ event()!.place }}</span>
        </div>
        <p class="h-full">
            {{ event()!.description }}
        </p>
        <p>
            <span class="font-semibold">participentios: </span>{{ event()!.participants ? event()!.participants.length : 0 }}
        </p>
    </div>
}