@if (typeof event() !== 'undefined') {
    <div class="group relative border-slate-200 rounded-lg p-2 shadow-lg h-full flex flex-col gap-3 transition-shadow duration-300 hover:cursor-pointer selection:select-none border overflow-visible dark:bg-slate-800 dark:border-slate-500" tabindex="0" [ngClass]="isFuterEvent(event()!.date) ? '' : 'bg-red-100 dark:!bg-red-500 !border-red-200 dark:!border-red-200 hover:!shadow-rose-200 dark:hover:!shadow-rose-200'" (click)="$event.target === $event.currentTarget && divRef.focus()" #divRef>
        <div class="absolute flex items-center gap-3 -top-6 opacity-0 group-hover:opacity-100 group-hover:top-2 transition-all duration-300 right-2 group-focus:opacity-100 group-focus:top-2">
            <a class="rounded-xl border flex justify-center items-center leading-none bg-amber-50 hover:bg-amber-100 border-amber-400 dark:bg-amber-500 dark:border-amber-400 dark:hover:bg-amber-600 sm:p-2 p-1 transition-colors duration-300" [routerLink]="['/' + eventId()]"><mat-icon class="text-amber-400 dark:text-amber-50" target="_blank" >details</mat-icon></a>
            @if (isFuterEvent(event()!.date)) {
                <button class="rounded-xl border flex justify-center items-center leading-none bg-blue-50 hover:bg-blue-100 border-blue-400 dark:bg-blue-500 dark:border-blue-400 dark:hover:bg-blue-600 sm:p-2 p-1 transition-colors duration-300" [disabled]="targetId == eventId" (click)="editEvent.emit(eventId()!)"><mat-icon class="text-blue-400 dark:text-blue-50" >edit</mat-icon></button>
            }
            <button class="rounded-xl border flex justify-center items-center leading-none bg-rose-50 hover:bg-rose-100 border-rose-400 dark:bg-rose-500 dark:border-rose-400 dark:hover:bg-rose-600 sm:p-2 p-1 transition-colors duration-300" [disabled]="targetId == eventId" (click)="deleteEvent.emit(eventId()!)"><mat-icon class="text-rose-400 dark:text-rose-50" >delete</mat-icon></button>
        </div>
        <div class="h-auto">
            <h3 class="text-2xl dark:text-white line-clamp-1 max-w-80 text-ellipsis">{{ event()!.title }}</h3>
        </div>
        <div class="relative w-full overflow-hidden pb-72">
            <img class="absolute top-0 left-0 w-full h-full object-cover rounded-md" [src]="event()!.image" />
        </div>
        <div class="flex justify-between items-center gap-5">
            <div class="bg-slate-100 rounded-2xl py-1 px-2 sm:py-1 sm:px-3 text-sm sm:text-md flex items-baseline gap-1 justify-start w-auto md:w-max">
                <mat-icon class="text-xs sm:text-md !flex !items-center !justify-center" >date_range</mat-icon><span>{{ event()!.date | date:'fullDate' }}</span>
            </div>
            <span class="bg-rose-100 rounded-2xl py-1 px-2 sm:py-1 sm:px-3 text-sm sm:text-md w-auto md:w-max line-clamp-1 leading-6 max-w-56 text-ellipsis"><b class="font-medium">Place:</b> {{ event()!.place }}</span>
        </div>
        <p class="h-full dark:text-white whitespace-pre-line max-h-[70px] overflow-hidden text-ellipsis line-clamp-3">
            {{ event()!.description }}
        </p>
        <div class="flex justify-between items-center">
            <p class="dark:text-white">
                <span class="font-medium">Participants: </span>{{ event()!.participants ? event()!.participants.length : 0 }}
            </p>
            <button class="rounded-md border dark:border-purple-400 border-purple-300 dark:bg-purple-500 bg-purple-50 dark:hover:bg-purple-600 hover:bg-purple-100 text-purple-500 dark:text-purple-50 transition-colors duration-300 px-4 py-2" (click)=" inspect() ? toggleInInspect() : toggleInspect(eventId()!)" #inspectBtn >
                See participants
            </button>
        </div>
    </div>
    @if (inspect()) {
        <div class="fixed top-0 left-0 w-full h-full bg-transparent z-20 pointer-events-none">
            <div class="fixed pointer-events-auto border border-purple-400 dark:border-purple-500 bg-white dark:bg-slate-600 rounded-xl shadow-lg w-[350px] h-[350px] md:w-[500px] md:h-[500px] z-20 scale-0 opacity-0 transition-all duration-300"
            [ngStyle]="{ top : popupPosition().top, left: popupPosition().left, right: popupPosition().right, bottom: popupPosition().bottom }"
            [ngClass]="inspectIn() ? 'scale-100 opacity-100 shadow-lg' : ''"
            >
            <div class="fixed text-purple-400" [ngStyle]="{ 
                rotate: popupPosition().rotate,
                left: popupPosition().rotate == '180deg' ? '-16px' : '',
                right: popupPosition().rotate == '0deg' ? '-16px' : '',
                top: popupPosition().rotate == '270deg' ? '-19px' : '',
                bottom : popupPosition().rotate == '90deg' ? '-19px' : '',
             }">
                <mat-icon>
                    play_arrow
                </mat-icon>
            </div>
                <div class="absolute text-slate-500 dark:text-white hover:text-black dark:hover:text-slate-200 right-3 top-3 transition-colors duration-300 z-10">
                    <button class="" (click)="toggleInInspect()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="p-6 max-h-full overflow-auto relative">
                    <h3 class="text-xl font-medium mb-4 dark:text-white">Participants for {{ event()!.title }}</h3>
                    @if((usersData$ | async)!) {
                        <ul class="divide-y">
                            @for (participant of (usersData$ | async)!; track $index) {
                                <li class="py-2">
                                    <div class="flex flex-col dark:text-white">
                                        <h3 class="text-md lg:text-lg capitalize" >{{ participant['email'].split('@')[0] }}</h3>
                                        <p class="text-xs lg:text-sm opacity-80" >{{ participant['email'] }}</p>
                                    </div>
                                </li>
                            } @empty {
                                <li class="py-2 text-gray-500 dark:text-slate-200">No participants yet</li>
                            }
                        </ul>
                    } @else {
                        <mat-spinner diameter="20" class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2" ></mat-spinner>
                    }
                </div>
            </div>
        </div>
    }
}