@let emailRequired = loginForm().get('email')?.touched && loginForm().get('email')?.dirty && loginForm().get('email')?.hasError('required');
@let emailValid = loginForm().get('email')?.touched && loginForm().get('email')?.dirty && loginForm().get('email')?.hasError('email');
@let passValid = loginForm().get('password')?.touched && loginForm().get('password')?.dirty && loginForm().get('password')?.hasError('required');
@let passMin = loginForm().get('password')?.touched && loginForm().get('password')?.dirty && loginForm().get('password')?.hasError('minlength');
@let passMax = loginForm().get('password')?.touched && loginForm().get('password')?.dirty && loginForm().get('password')?.hasError('maxlength');

<div class="container mx-auto px-2 sm:px-0 w-full h-full flex flex-col gap-4 items-center justify-center">
  <form class="p-3 w-96 flex gap-4 flex-col" [formGroup]="loginForm()">
    <button
      class="transition-colors duration-200 h-[46px] w-full flex items-center px-4 py-2 border rounded-md hover:border-slate-400 dark:bg-slate-800 dark:text-white dark:border-slate-600 dark:hover:border-slate-300 disabled:opacity-70 hover:disabled:cursor-not-allowed"
      type="button"
      role="button"
      [disabled]="(isSigninProgress | async)"
      (click)="loginWithGmail()"
    >
    @if (gmailLoading$ | async) {
      <mat-spinner class="mx-auto !h-[24px] !w-[24px]" ></mat-spinner>
    } @else {
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="28"
          height="28"
          viewBox="0 0 48 48"
        >
          <path
            fill="#FFC107"
            d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
          ></path>
          <path
            fill="#FF3D00"
            d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
          ></path>
          <path
            fill="#4CAF50"
            d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
          ></path>
          <path
            fill="#1976D2"
            d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
          ></path>
        </svg>
      </span>
      <span class="flex items-center justify-center w-4/5"
        >Login with Google</span
      >
    }
    </button>
    <div class="w-full relative text-center">
      <hr class="absolute border-black left-0 right-0 top-1/2 -z-10 dark:border-white dark:z-0" />
      <span class="text-black bg-white dark:bg-gray-950 dark:text-white px-1 dark:relative">or</span>
    </div>
    <h1 class="mx-auto text-3xl dark:text-white">Login</h1>
    <div class="flex flex-col gap-7 w-full">
      <div class="relative">
        <input
          class="transition-all duration-200 peer outline-none border dark:text-white dark:bg-slate-800 focus:border-slate-400 dark:focus:border-slate-300 w-full rounded-md p-3 focus:ring-2 focus:ring-slate-200 dark:focus:ring-slate-100"
          formControlName="email"
          type="email"
          autocomplete="new-password"
          #email
        />
        <label
          class="label"
          [ngClass]="
            email.value.trim() != ''
              ? 'float-label'
              : ''
          "
          >Email<span class="ps-[2px]" [ngClass]="[emailRequired || emailValid ? 'text-pink-600 peer-focus:text-inherit' : '']">*</span></label
        >
        @if (emailRequired) {
        <div
          class="form-error-msg"
        >
          Please enter email.
        </div>
        } @if (emailValid) {
        <div
          class="form-error-msg"
        >
          Please enter valid email.
        </div>
        }
      </div>
      <div class="relative">
        <input
          class="transition-all duration-200 peer outline-none border dark:text-white dark:bg-slate-800 focus:border-slate-400 dark:focus:border-slate-300 w-full rounded-md p-3 focus:ring-2 focus:ring-slate-200 dark:focus:ring-slate-100"
          formControlName="password"
          autocomplete="new-password"
          [type]="showPassword() ? 'text' : 'password'"
          #password
        />
        <button class="transition-all duration-200 absolute right-2 top-1/2 -translate-y-3" type="button" (click)="showPassword.set(!showPassword())" role="button" ><mat-icon class="dark:text-white" >{{ showPassword() ? "visibility" : "visibility_off" }}</mat-icon></button>
        <label
          class="label"
          [ngClass]="
            password.value != ''
              ? 'float-label'
              : ''
          "
          >Password<span class="ps-[2px]" [ngClass]="[passValid || passMin || passMax ? 'text-pink-600 peer-focus:text-inherit' : '']">*</span></label
        >
        @if (passValid) {
        <div
          class="form-error-msg"
        >
          Please enter password.
        </div>
        } @if (passMax) {
        <div
          class="form-error-msg"
        >
          Password must not exceed 16 characters.
        </div>
        } @if (passMin) {
        <div
          class="form-error-msg"
        >
          Password must be at least 8 characters long.
        </div>
        }
      </div>
      <button
        class="transition-all duration-200 border h-[42px] dark:text-white dark:bg-slate-500 dark:hover:bg-slate-600 rounded-md py-2 text-black border-slate-400 bg-slate-200 hover:bg-slate-300 hover:disabled:cursor-not-allowed"
        type="button"
        role="button"
        (click)="submit()"
        [disabled]="!loginForm().valid || (isSigninProgress | async)"
        [matTooltip]="!loginForm().valid ? 'Fill the above fields first' : ''"
      >
      @if(emailLoading$ | async) {
        <mat-spinner class="mx-auto !h-[24px] !w-[24px]" ></mat-spinner>
      } @else {
        Submit
      }
      </button>
    </div>
  </form>
  <p class="text-base opacity-70 dark:opacity-90 dark:text-white">Not registerd?<a class="transition-colors duration-200 ps-1 hover:text-slate-500" routerLink="/register" >Sign up here</a></p>
</div>
