<div class="container mx-auto pt-2 md:pt-4 px-2 lg:px-1">
    @if (loading | async) {
        <div class="flex justify-center items-center h-[calc(100dvh-16px)] w-full text-center z-20">
            <mat-spinner diameter="50"></mat-spinner>
        </div>
    } @else {
        @if ((eventData | async)!.length > 0) {
            <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-2 md:gap-4">
                <div class="flex flex-col items-start gap-2 md:gap-4">
                    <h1 class="text-2xl lg:text-4xl dark:text-white" >{{ (eventData | async)![0].title }}</h1>
                    <div class="bg-slate-300 dark:bg-slate-600 dark:text-slate-50 bg-opacity-70 py-1 px-4 rounded-full flex justify-center items-center">
                        <h2 class="text-base lg:text-xl"><span class="font-medium" >Destination:</span> {{ (eventData | async)![0].place }} </h2>
                    </div>
                </div>
                <div class="text-base lg:text-xl dark:text-white">
                    <div class="bg-indigo-300 dark:bg-indigo-600 dark:text-cyan-50 bg-opacity-70 py-1 px-4 rounded-full flex justify-center items-center">
                        @switch (true || false) {
                            @case ((eventData | async)![0].date.singleDay) {
                                {{ (eventData | async)![0].date.date[0] | date:'fullDate' }}
                            }
                            @case ((eventData | async)![0].date.multiDay) {
                                From {{ (eventData | async)![0].date.date[0] | date:'mediumDate' }} to {{ (eventData | async)![0].date.date[1] | date:'mediumDate' }}
                            }
                            @case ((eventData | async)![0].date.everyWeekEvent) {
                                <span>Every&nbsp;</span>
                                @for (week of (eventData | async)![0].date.weekDay; track $index) {
                                    <span>{{ week }}</span>
                                    @if ((eventData | async)![0].date.weekDay!.length > 2) {
                                        <span>{{ $last ? 'and' : ',' }}</span>
                                    }
                                }
                            }
                            @case ((eventData | async)![0].date.everyMonthEvent) {
                                @let date = ((eventData | async)![0].date.date[0] | date:'shortDate')!.split('/')[1];
                                <span>Every&nbsp;</span><span>{{ (date == '1' ? '1st': date == '2' ? '2nd' : date == '3' ? '3rd' : (date + 'th'))  + ' of month' }}</span>
                            }
                        }
                    </div>
                </div>
            </div>
            <swiper-container class="py-5" speed="500" navigation="true" pagination="true">
                <swiper-slide class="xl:h-[880px] lg:h-[720px] md:h-[600px] h-[400px] px-10">
                    <img class="select-none absolute top-0 left-0 w-full h-full object-cover rounded-md" [src]="(eventData | async)![0].bannerImage" alt="Event image" />
                </swiper-slide>
                    @for(image of (eventData | async)![0].images; track $index) {
                    <swiper-slide class="xl:h-[880px] lg:h-[720px] md:h-[600px] h-[400px] px-10">
                        <div class="relative w-full overflow-hidden xl:pb-[880px] lg:pb-[720px] md:pb-[600px] pb-[400px]">
                            <img class="select-none absolute top-0 left-0 w-full h-full object-cover rounded-md" [src]="image" alt="Event image" />
                        </div>
                    </swiper-slide>
                    
                }
            </swiper-container>
            <div class="flex flex-col md:flex-row relative gap-2 py-3">
                <div class="w-full md:w-[20%] lg:w-[15%]">
                    <h2 class="text-xl font-medium dark:text-white static md:sticky md:top-2">
                        Event description:
                    </h2>
                </div>
                <div class="text-lg dark:text-white whitespace-pre-line w-full md:w-[80%] lg:w-[85%]">{{ (eventData | async)![0].description }}</div>
            </div> 
            @if (isAdmin$ | async) {
                <div class="dark:text-white">
                    <h3 class="text-2xl font-medium py-3">Participants:</h3>
                    @if ((dataSource$ | async)!.length > 0) {
                        <table mat-table [dataSource]="(dataSource$ | async)!" class="w-full !border !border-solid !rounded-lg dark:!bg-slate-950 dark:!text-slate-50 !border-slate-400 dark:!border-slate-200" >
                            @if (partiLoading$ | async) {
                                <div class="flex justify-center items-center w-full text-center z-20">
                                    <mat-spinner diameter="50"></mat-spinner>
                                </div>
                            } @else {
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="dark:!text-slate-50"> Name </th>
                                    <td mat-cell *matCellDef="let element" class="dark:!text-slate-50" > {{ element.email.split('@')[0] }} </td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef class="dark:!text-slate-50"> Email </th>
                                    <td mat-cell *matCellDef="let element" class="dark:!text-slate-50"> {{element.email}} </td>
                                </ng-container>
                                <tr mat-header-row class="!bg-zinc-200 dark:!bg-zinc-900" *matHeaderRowDef="columns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                            }
                        </table>
                    } @else {
                        <div calss="">
                            <p class="text-xl dark:text-slate-300">No participants at this moment</p>
                        </div>
                    }
                </div>
            }
        }
    }
</div>