.error-message {
    animation: show ease-in 0.3s;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: black !important;
}