// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer components {
  .label {
    @apply transition-all duration-200 absolute left-3 text-base top-1/2 -translate-y-1/2 bg-white peer-focus:top-0 peer-focus:text-xs peer-focus:px-1 peer-focus:left-2 opacity-60 peer-focus:opacity-100 pointer-events-none
  }

  .float-label {
    @apply top-0 !text-xs !px-1 !left-2 !opacity-100
  }

  .form-error-msg {
    @apply transition-all duration-200 absolute text-sm text-pink-600 left-2 -bottom-5 peer-focus:hidden;
    animation: show ease-in 0.3s;
  }
}

@keyframes show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}